In [1]:
# Imports
import pandas as pd
import numpy as np
from tools import process, filter, calculate, compare, sort, export, get

In [2]:
# Processed data to be used

header = pd.read_csv("files/data.csv", sep=";").columns.values
header = header[1:-1] # Omits the first and last column

data = pd.read_csv("files/data.csv", sep=";").values
data = process.all(data)

#print(pd.DataFrame(data))

In [3]:
# Team Comparison
header = ["Team #", "Avg Auto", "Avg Teleop"]
teams = [1678, 5940, 254]

comparison = compare.team(data, teams)
comparison = sort.order(comparison, "teleop", True)

pd.DataFrame(comparison, columns=header)

   Team #  Avg Auto  Avg Teleop
0    5940        20          40
1     254        20          29
2    1678        20          22

In [6]:
# Match Comparsion
header = ["Team #", "Color", "Auto", "Teleop", "Team #", "Color", "Auto", "Teleop"]
match = compare.match(data, 1, 2)
match = sort.alliance(match)

pd.DataFrame(match, columns=header)

   Team # Color  Auto  Teleop  Team # Color  Auto  Teleop
0    1678   Red    20      20    1323  Blue    20      30
1     973   Red    20      36    5940  Blue    20      32
2    1072   Red    20      36     254  Blue    20      24

In [5]:
#Picklist
header = ["Team #", "Avg Auto", "Avg Teleop"]
list = pd.read_csv("files/teams.csv").values
get.teams(data, 4, list)

comparison = compare.team(data, teams)
comparison = sort.order(comparison, "teleop", True)

pd.DataFrame(comparison, columns=header)

   Team #  Avg Auto  Avg Teleop
0    5940        20          40
1     254        20          29
2    1678        20          22